.heroSection
{
    height :100vh;
    width: 100vw;
    background: url('../../../assets/images/main.png') ;
     background-size: cover;
}
.heroSection::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Adjust the last value to control darkness (0 is transparent, 1 is solid black) */
    z-index: 1; /* Ensure it sits above the background image but below content */
}
.heroContent
{
    color: white;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.heroHeading1
{
    font-size: 3rem;
    font-weight: 800;
}
.heroPargraph1
{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}
.heroPargraph2
{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 12px;
    margin-bottom:21px;
}
.inputEmail
{
    line-height: 1.5;
    font-size: 1rem;
    /* background-color: transparent; */
    color: white;
    border: 0.1rem solid #767676;
    padding: 1rem;
    width: 25rem;
    background-color: black;
    opacity: 0.53;
}
.inputEmail:focus + label::after {
    background-color: transparent; /* Change this to your desired background color */
    font-size: medium;
}
.inputEmail:focus + label {
    font-size: 0.9rem;
}


.btnEmail
{
    background-color: rgb(229,9,20);
    color : white;
    margin-left:1.5rem ;
    border: 0px;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    height: max-content;
    padding: 0.75rem 1.5rem;

}
.formEmail
{
    text-align: center;
}
.iconGreater
{
    width: 1.5rem;
    height: inherit;
    margin-left: 0.5rem;
    margin-right: 0rem;
    margin-bottom: 0.27rem;
}
app-navbar
{
    position: relative;
    z-index: 2;
}
.section1, .section2,.section3,.section4,.FooterSection
{
    background-color: black;
    height: 67vh;
    color: white;
}
.FAQSection
{
    background-color: black;
    height: 120vh;
}

.seperator
{
    border: 0.16rem solid #413939;
    margin: 0px;
}

.sec1Heading {
    font-size: 2rem; /* Large text size for the title */
    margin-bottom: 0.5rem; /* Spacing between title and subtitle */
}

.sec1Text {
    font-size: 1rem; /* Smaller text size for the subtitle */
    max-width: 600px; /* Max width of the text */
    margin: 0 auto; /* Center the subtitle if it's on multiple lines */
}
.section1
{
    text-align: center;
}
