<div class="main">
    <section class="heroSection">
        <app-navbar></app-navbar>
        <div class="heroContent container" >
            <h2 class="heroHeading1">Unlimited movies, TV shows, and more</h2>
            <p class="heroPargraph1">Watch anywhere. Cancel anytime.</p>
            <p class="heroPargraph2">Ready to watch? Enter your email to create or restart your membership.</p>
            <form class="formEmail  d-flex">
                <input type="text" class="inputEmail" placeholder="Email Address" height="" width="" />
                <button class="btnEmail">Get Started</button>
            </form>
        </div>
    </section>

    <p class="seperator"></p>
    <section class="section1 row">
            <div class="col-6 container align-center">
                <h3 class="sec1Heading">Enjoy on your Tv</h3>
                <p class="sec1Text">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="col-6">
                <img src="../../../assets/images/login-background-large.jpg" >
            </div>
    </section>
    <p class="seperator"></p>
    <section class="section2">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </section>
    <p class="seperator"></p>
    <section class="section3">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </section>
    <p class="seperator"></p>
    <section class="section4">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </section>

    <p class="seperator"></p>
    <section class="FAQSection"></section>

    <p class="seperator"></p>
    <section class="FooterSection"></section>
</div>