<div class="main">
    <section class="heroSection">
        <app-navbar></app-navbar>
    </section>

    <p class="seperator"></p>
    <section class="section1 row">
            <div class="col-6 container align-center">
                <h3 class="sec1Heading">Enjoy on your TVv</h3>
                <p class="sec1Text">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="col-6">
                <img src="../../../assets/images/login-background-large.jpg" >
            </div>
    </section>
    <p class="seperator"></p>
    <section class="section2">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </section>
    <p class="seperator"></p>
    <section class="section3">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </section>
    <p class="seperator"></p>
    <section class="section4">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </section>

    <p class="seperator"></p>
    <section class="FAQSection"></section>

    <p class="seperator"></p>
    <section class="FooterSection"></section>
</div>