.nav
{
background-color: transparent;
padding :1rem 3rem 1rem 2rem;

}
.logo
{
    /* width :22rem;       my laptop */
    width :10rem;       /* office laptop*/
    height: 2.5rem;
}
.navContent
{
    display: flex;
    justify-content: end;
    align-items: center;
}
.signInBtn
{
    width:5.1rem;
    height: 2rem;
    color: white;
    background-color: rgb(229,9,20);
    border: 2rem;
    border-radius: 0.3rem;
}

.signInLink
{
    text-decoration: none;
    color :white;
    font-weight: 600;
    text-align: center;
}
.signInbutton
{
    margin-left:2rem !important;
}

.selectDropdown
{
    width:8rem;
    height: 2rem;
    background-color: transparent;
    color: white;
    font-size: large;
    font-weight: 600;
    padding-left: 2rem; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: 3px center; /* Adjust as needed */
    background-image: url('../../../assets/images/languageIcon.svg'); /* Path to your image */
    outline: none; /* Remove the outline */
    border: 0px;
}

.selectDropdown option[selected] {
    background-color: transparent;
}

.selectDropdown option
{
    color: black;
    /* width: 6rem; */
    padding-left: 2rem;
}
.dropdown
{
    border: 0.1rem solid #767676;
    background-color: black;
    padding :0rem 0.5rem 0rem 0.5rem;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0.2rem; /* Padding on all sides */
}



  
 
  
  