<nav class="nav container">
    <div class="row w-100">
        <div class="col-6 navLogo">
            <img class="logo" src="../../../assets/images/logo.png" alt="Logo">    
        </div>
        <div class="col-6 navContent" style="">
            <form>
                <div class="dropdown">
                    <select class="selectDropdown" (change)="onSelect()" aria-label="Language selection">
                        <option class="languageOption" value="en" selected>English</option>
                      <option class="languageOption" value="hi">हिंदी</option>
                    </select>
                </div>
            </form>
                
            <div class="signInbutton">
                <button class="signInBtn"><a class="signInLink">Sign In</a></button>   
            </div>
        </div>
    </div>
</nav>